# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
cache: packages

r:
  - release
  - oldrel
  - devel

sudo: required
dist: trusty

warnings_are_errors: true

latex: false

r_github_packages:
  - r-spatial/stars
  - r-spatial/mapview@develop

addons:
  apt:
    sources:
    - sourceline: 'ppa:opencpu/jq'
    - sourceline: 'ppa:ubuntugis/ubuntugis-unstable'
    - sourceline: 'deb http://apt.postgresql.org/pub/repos/apt/ trusty-pgdg main'
      key_url: 'https://www.postgresql.org/media/keys/ACCC4CF8.asc'
    packages:
    - libproj-dev
    - libgeos-dev
    - libgdal-dev
    - libnetcdf-dev
    - devscripts
    - libprotobuf-dev
    - protobuf-compiler
    - libjq-dev
    - libudunits2-dev
    - libspatialite-dev
    - libjson-c-dev
    - netcdf-bin
    #- libnode-dev

before_install:
   - R -e 'install.packages("rgdal", repos="http://R-Forge.R-project.org")'
   - R -q -e 'install.packages("remotes"); remotes::install_github("ropenscilabs/tic"); tic::prepare_all_stages()'
install: R -q -e 'tic::install()'
script: R -q -e 'tic::script()'

after_success:
  - R -q -e 'covr::codecov(quiet = FALSE)'

before_deploy: R -q -e 'tic::before_deploy()'
deploy:
   provider: script
   script: R -q -e 'tic::deploy()'
   on:
     branch: master
     condition:
       - $TRAVIS_PULL_REQUEST = false
       - $TRAVIS_EVENT_TYPE != cron
       - $TRAVIS_R_VERSION_STRING = release


deploy.skip_cleanup: true


